on: [workflow_dispatch]

jobs:
  read-file:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v6
      -
        name: Read Readme
        uses: bfren/action-read-file@v2
        with:
          file: ./README.md
        id: readme
      -
        name: Echo Readme
        run: echo "${{ steps.readme.outputs.contents }}"
